<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoardGame</title>
    <link rel="stylesheet" href="../designer/card/css/index.css">
</head>
<body>
    <h1>BoardGame</h1>
    <h2>The ultimate open-source toolkit for board game development</h2>
    <a href="/logic">Get Started</a> 
    <a href="/designer/card">Get Started</a>
    <button id="test">Show Modal</button>
    <script src="./entry.ts"></script>
</body>
</html>