:root {
  --md-sys-color-primary: rgb(15 125 115);
  --md-sys-color-surface-tint: rgb(15 125 115);
  --md-sys-color-on-primary: rgb(247 255 252);
  --md-sys-color-primary-container: rgb(216 239 232);
  --md-sys-color-on-primary-container: rgb(22 72 65);
  --md-sys-color-secondary: rgb(112 92 63);
  --md-sys-color-on-secondary: rgb(255 254 250);
  --md-sys-color-secondary-container: rgb(246 240 226);
  --md-sys-color-on-secondary-container: rgb(74 62 42);
  --md-sys-color-tertiary: rgb(76 111 132);
  --md-sys-color-on-tertiary: rgb(241 248 252);
  --md-sys-color-tertiary-container: rgb(224 237 245);
  --md-sys-color-on-tertiary-container: rgb(35 62 78);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(246 243 234);
  --md-sys-color-on-background: rgb(27 29 31);
  --md-sys-color-surface: rgb(246 243 234);
  --md-sys-color-on-surface: rgb(27 29 31);
  --md-sys-color-surface-variant: rgb(241 236 226);
  --md-sys-color-on-surface-variant: rgb(82 90 98);
  --md-sys-color-outline: rgb(122 126 128);
  --md-sys-color-outline-variant: rgb(215 210 197);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(35 40 45);
  --md-sys-color-inverse-on-surface: rgb(243 244 239);
  --md-sys-color-inverse-primary: rgb(141 218 207);
  --md-sys-color-primary-fixed: rgb(216 239 232);
  --md-sys-color-on-primary-fixed: rgb(10 52 47);
  --md-sys-color-primary-fixed-dim: rgb(170 219 210);
  --md-sys-color-on-primary-fixed-variant: rgb(22 72 65);
  --md-sys-color-secondary-fixed: rgb(246 240 226);
  --md-sys-color-on-secondary-fixed: rgb(47 40 28);
  --md-sys-color-secondary-fixed-dim: rgb(231 217 187);
  --md-sys-color-on-secondary-fixed-variant: rgb(74 62 42);
  --md-sys-color-tertiary-fixed: rgb(224 237 245);
  --md-sys-color-on-tertiary-fixed: rgb(18 42 56);
  --md-sys-color-tertiary-fixed-dim: rgb(193 220 236);
  --md-sys-color-on-tertiary-fixed-variant: rgb(35 62 78);
  --md-sys-color-surface-dim: rgb(231 226 214);
  --md-sys-color-surface-bright: rgb(255 254 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 252);
  --md-sys-color-surface-container-low: rgb(250 247 239);
  --md-sys-color-surface-container: rgb(245 241 232);
  --md-sys-color-surface-container-high: rgb(240 235 226);
  --md-sys-color-surface-container-highest: rgb(234 229 219);
}
